{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Portfolio</title>
        <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/21186a6efe.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
  </head>
  <body>
    <div class="flex-container">
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <div id="flex-one-photo" style="background-image:url('{% static "website/images/intro_cropped.jpg" %}')"></div>
          <ul>
            <li><a class="scroll" href="#home">HOME</a></li>
            <li><a class="scroll" href="#about">ABOUT</a></li>
            <li><a class="scroll" href="#skills">SKILLS</a></li>
            <li><a class="scroll" href="#education">EDUCATION</a></li>
            <li><a class="scroll" href="#portfolio">PORTFOLIO</a></li>
            <li><a class="scroll" href="#experience">EXPERIENCE</a></li>
            <li><a class="scroll" href="#contact">CONTACT</a></li>
          </ul>
        </div>
        <div class="nav-mobile" >
            <div id="main">
              <span style="font-size:30px; color:white; cursor:pointer" onclick="openNav()">&#9776;</span>
            </div>
            <div id="flex-one-photo-nav" style="background-image:url('{% static "website/images/intro_cropped.jpg" %}')"></div>
        </div>
      <div class="flex-one">
        <div id="flex-one-photo" style="background-image:url('{% static "website/images/profile_pic.jpg" %}')"></div>
        <div id="flex-one-nav">
          <p class="name">Chinonso Mogo</p>
          <div class="contact-icon-container">
              <div id="linkedin" class="contact-icon">
                <a href="https://www.linkedin.com/in/mogononso" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              </div>
              <div id="github" class="contact-icon">
                <a href="https://github.com/mogopaly87" target="_blank"><i class="fab fa-github"></i></a>
              </div>
          </div>
          <ul>
            <li><a class="home" href="#home"><i class="fas fa-home sideBarIcons"></i><span>Home</span></a></li>
            <li><a class="about" href="#about"><i class="far fa-id-badge sideBarIcons"></i><span>About</span></a></li>
            <li><a class="skills" href="#skills"><i class="far fa-file sideBarIcons"></i><span>Skills</span></a></li>
            <li><a class="education" href="#education"><i class="fas fa-graduation-cap sideBarIcons"></i><span>Education</span></a></li>
            <li><a class="portfolio" href="#portfolio"><i class="fas fa-briefcase sideBarIcons"></i><span>Porfolio</span></a></li>
            <li><a class="experience" href="#experience"><i class="fab fa-black-tie sideBarIcons"></i><span>Experience</span></a></li>
            <li><a class="contact" href="#contact"><i class="fas fa-phone sideBarIcons"></i><span>Contact</span></a></li>
          </ul>
        </div>
      </div>
      <div class="flex-two" id="body" onscroll="myFunction()">
        <section id="home" style="background-image: url('{% static "website/images/home4.jpg" %}');">
          <div class="content-holder padding-flex-two">
            <h1>
              I am <br />
              a Full Stack Developer
            </h1>
            <a class="button" href="#portfolio">View Portfolio<i class="fas fa-briefcase"></i></a>
          </div>
        </section>
        <section class="about-page" id="about">
          <div class="content-holder">
            <span class="heading-one">ABOUT ME</span>
            <h3 class="heading-two">WHO AM I?</h3>
            <p>
              Hi, I'm<strong> Chinonso Mogo</strong> and I am a self-taught software
              developer. My passion for solving problems using technology drives
              me to learn about efficient and effective ways to deliver customized technology-based solutions.
              <br>
              I maintain a high level of curiosity to discover various ways of creating data-driven applications.
            </p>
          </div>
          <div id="flex-content" class="flex-content">
            <div id="flexing1" class="flex-one right">
              <i class="fas fa-laptop-code"></i>
              <h3>Web Application</h3>
            </div>
            <div id="flexing2" class="flex-one right">
              <i class="fas fa-globe"></i>
              <h3>Web Design</h3>
            </div>
            <div id="flexing3" class="flex-one right">
              <i class="fas fa-layer-group"></i>
              <h3>Data Engineering</h3>
            </div>
          </div>
        </section>
    <section class="skills-page" id="skills">
      <div class="skills-container">
        <h3 id="skills_heading">
        SKILLS
        </h3>
        <p id="skills_content">
          I gain the maximum satisfaction when I am challenged, and have the opportunity to learn new and effective technologies
          and principles. <br>
          At the center of my skill-set is the ability to adopt new methods and technologies to meet organisational goals and
          customer expectations. <br>
          I have completed projects with the stack listed below:

        </p>
        <div class="progress-container">
            <div id="icon-1" class="skill-icon">
              <i class="fab fa-python"></i>
            </div>
            <div id="icon-2" class="skill-icon">
              <i class="fas fa-database"></i>
            </div>
            <div id="icon-3" class="skill-icon">
              <i class="fab fa-html5"></i>
            </div>
            <div id="icon-4" class="skill-icon">
              <i class="fab fa-js-square"></i>
            </div> 
            <div id="icon-5" class="skill-icon">
              <i class="fab fa-css3-alt"></i>
            </div> 
        </div>
      </div>
    </section>
    <section class="education-page" id="education">
      <div class="education-container">
        <h3>EDUCATION</h3>
        <button class="accordion">DIPLOMA, SOFTWARE DEVELOPMENT</button>
        <div class="panel">
          <p>This covers the following languages and technologies:
              <ul>
                <li>JAVA</li>
                <li>Object Oriented Design & Analysis</li>
                <li>Front-End Development (HTML, CSS, JavaScript)</li>
                <li>Database Design (SQL)</li>
                <li>Requirements Gathering and Analysis</li>
              </ul>
          </p>
        </div>
        <button class="accordion">CERTIFICATE IN BUSINESS ANALYTICS</button>
        <div class="panel">
          <p>This certificate focused on using Microsoft Excel to extract, transform and analyse structured data to
          provide business insights. <br>
          Technologies used include:
              <ul>
                <li>Microsoft Excel</li>
                <li>MS SQL Server</li>
                <li>Power Pivot</li>
              </ul>
          </p>
        </div>
        <button class="accordion">MASTERS, ENVIRONMENTAL SYSTEMS ENGINEERING & MANAGEMENT</button>
        <div class="panel">
          <p>This program focused on optimizing environmental engineering systems</p>
        </div>
        <button class="accordion">BACHELORS, ENVIRONMENTAL TECHNOLOGY</button>
        <div class="panel">
{#          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fugiat quibusdam delectus adipisci corporis recusandae earum dignissimos. Necessitatibus ipsum corporis delectus consectetur rerum minima in?</p>#}
        </div>
      </div>
    </section>
    <section class="portfolio-page" id="portfolio">
      <div class="portfolio-container">
        <h3>PORTFOLIO</h3>
        <div class="testing-flex">
          <div class="test-one" style="background-image:url('{% static "website/images/Pic01.jpg" %}'); background-size: cover; height: 22em; margin-top: 10px">
            <a class="overlay" href="http://mogononso.pythonanywhere.com/" target="_blank"></a>
            <div class="app-link-holder">
            <h4 class="app-name">Church Acconting Application</h4>
            <p>Username : demo_user</p>
            <p>Password : demoaccount</p>
              <a class="project-button" href="http://mogononso.pythonanywhere.com/" target="_blank">View Project<i class="fas fa-briefcase"></i></a>
            </div>
          </div>
          <div class="test-one" style="background-image:url('{% static "website/images/Pic01.jpg" %}'); background-size: cover; height: 22em; margin-top: 10px">
            <a class="overlay" href="#"></a>
            <a class="project-button" href="#">View Project<i class="fas fa-briefcase"></i></a>
          </div>
          <div class="test-one" style="background-image:url('{% static "website/images/Pic01.jpg" %}'); background-size: cover; height: 22em; margin-top: 10px">
            <a class="overlay" href="#"></a>
              <a class="project-button" href="#">View Project<i class="fas fa-briefcase"></i></a>
          </div>
          <div class="test-one" style="background-image:url('{% static "website/images/Pic01.jpg" %}'); background-size: cover; height: 22em; margin-top: 10px">
            <a class="overlay" href="#"></a>
              <a class="project-button" href="#">View Project<i class="fas fa-briefcase"></i></a>
          </div>
        </div>
      </div>

    </section>
    <section class="experience-page" id="experience" style="height: auto">
      <div class="experience-container">
        <h3>WORK EXPERIENCE</h3>
        <div class="timeline">
          <div id="exp1" class="exp1 time-container right">
            <div class="time-content">
              <h4>
                Full Stack Developer (Freelance) <span>2020 - Present</span>
              </h4>
              <p>Sourcing and working with local small-medium size businesses and charities to provide web application solutions to streamline operational processes. </p>
            </div>
          </div>
          <div id="exp2" class="exp1 time-container right">
            <div class="time-content">
              <h4>
                Financial Advisor <span>2016 - 2020</span>
              </h4>
              <p>Provided excellent advisory services to retail clients on unsecured and secured lending, retirement investment strategies, education planning and overall personal financial literacy.</p>
            </div>
          </div>
          <div id="exp3" class="exp1 time-container right">
            <div class="time-content">
              <h4>
                Human Resources Service Representative <span>2016 - 2016</span>
              </h4>
              <p>Providing advisory services to HoneyWell and General Electric employees on various employee benefits options. This covered health insurance selection, disability, life insurance and payroll deductibles. </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="contact-page" id="contact">
        <div class="contact-container">
          <div>
            <h3>CONTACT</h3>
            <div>
              <form method="post" action=".">
                  {% csrf_token %}
                  <fieldset class="form-group">
                      <legend class="border-bottom mb-4">Reach Out Today</legend>
                      <div class="form-group">
                          <label for="email">Your Email</label>
                          <input class="form-control" type="email" name="from_email" id="email" required>
                      </div>
                      <div class="form-group">
                          <label for="subject">Subject</label>
                          <input class="form-control" type="text" name="subject" id="subject" required>
                      </div>
                      <div class="form-group">
                          <label for="message">Message</label>
                          <textarea class="form-control" name="message" id="message" required></textarea >
                      </div>
                  </fieldset>
                  <div class="form-group">
                          <button class="btn btn-outline-info" type="submit">Send</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
    </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'main.js' %}"></script>
    <script src="{% static 'animation.js' %}"></script>
    
    </div>
      <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
          document.getElementById("flex-one-photo-nav").style.display = "none";
          document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }

        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
          document.getElementById("flex-one-photo-nav").style.display = "block";
          document.body.style.backgroundColor = "white";
        }
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>

